html,
body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

pre {
    font-family: var(--bs-body-font-family) !important;
    font-size: var(--bs-body-font-size) !important;
}

a {
    text-decoration: none;
}
