<th:block th:insert="~{/fragments/head}"></th:block>
<th:block th:insert="~{/fragments/header}"></th:block>

<main class="container">
    <h1>Войти</h1>

    <form th:action="@{/auth/login}" th:method="post">
        <div class="mb-3">
            <label for="username" class="form-label">
                Имя пользователя или почта
            </label>
            <input
                type="text"
                th:class="form-control"
                name="username"
                id="username"
                th:value="${username}"
            />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input
                type="password"
                class="form-control"
                id="password"
                name="password"
            />
        </div>
        <div th:if="${badCredentials}" class="text-danger mb-3">
            Неверный логин или пароль
        </div>
        <input type="checkbox" name="remember" hidden checked />
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
</main>

<th:block th:insert="~{/fragments/bottom}"></th:block>
