<th:block>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title th:text="${model.base.pageTitle}">Title</title>
        <link th:href="@{/css/bootstrap.min.css}" rel="preload" as="style" />
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/main.css}" rel="stylesheet" />
    </head>
    <body>
</th:block>
