<th:block th:insert="~{/fragments/head}"></th:block>
<th:block th:insert="~{/fragments/header}"></th:block>

<main class="container">
    <div class="m-0 d-flex flex-column gap-2">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Навыки</h1>
            <a class="btn btn-link" href="/admin/skills/new">Добавить</a>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Использовано</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="row, index : ${model.data}">
                    <th scope="row" th:text="${index.count}"></th>
                    <td th:text="${row.name}"></td>
                    <td th:text="${row.category}"></td>
                    <td>
                        <div>
                            Вакансии:
                            <span th:text="${row.usedInVacancies}"></span>
                        </div>
                        <div>
                            Резюме: <span th:text="${row.usedInResumes}"></span>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown">
                            <a
                                href="#"
                                class="btn btn-outline-light btn-sm dropdown-toggle"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Действия
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a
                                        class="dropdown-item"
                                        th:href="@{/admin/skills/{id}/edit(id=${row.id})}"
                                    >
                                        Редактировать
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>

<th:block th:insert="~{/fragments/bottom}"></th:block>
