<div
    th:fragment="userForm(action, cancelPath, primaryActionName, editPassword)"
>
    <form th:method="post" th:action="${action}" th:object="${form}">
        <div>
            <label for="first-name" class="form-label mt-4">Имя</label>
            <input
                type="text"
                id="first-name"
                name="firstName"
                class="form-control"
                placeholder="Введите имя"
                th:value="*{firstName}"
                th:errorclass="is-invalid"
            />
            <small
                th:if="${#fields.hasErrors('firstName')}"
                th:errors="*{firstName}"
                class="text-danger"
            >
                Error message
            </small>
        </div>

        <div>
            <label for="last-name" class="form-label mt-4">Фамилия</label>
            <input
                type="text"
                id="last-name"
                name="lastName"
                class="form-control"
                placeholder="Введите фамилию"
                th:value="*{lastName}"
                th:errorclass="is-invalid"
            />
            <small
                th:if="${#fields.hasErrors('lastName')}"
                th:errors="*{lastName}"
                class="text-danger"
            >
                Error message
            </small>
        </div>

        <div>
            <label for="middle-name" class="form-label mt-4">Отчество</label>
            <input
                type="text"
                id="middle-name"
                name="middleName"
                class="form-control"
                placeholder="Введите отчество"
                th:value="*{middleName}"
                th:errorclass="is-invalid"
            />
            <small
                th:if="${#fields.hasErrors('middleName')}"
                th:errors="*{middleName}"
                class="text-danger"
            >
                Error message
            </small>
        </div>

        <div>
            <label for="login" class="form-label mt-4">Логин</label>
            <input
                type="text"
                id="login"
                name="login"
                class="form-control"
                placeholder="Введите логин"
                th:value="*{login}"
                th:errorclass="is-invalid"
            />
            <small
                th:if="${#fields.hasErrors('login')}"
                th:errors="*{login}"
                class="text-danger"
            >
                Error message
            </small>
        </div>

        <div th:if="${editPassword}">
            <label for="password" class="form-label mt-4">Пароль</label>
            <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Введите пароль"
                th:value="*{password}"
                th:errorclass="is-invalid"
            />
            <small
                th:if="${#fields.hasErrors('password')}"
                th:errors="*{password}"
                class="text-danger"
            >
                Error message
            </small>
        </div>

        <div th:if="${canSetCommercial}" class="form-check mt-2">
            <input
                type="checkbox"
                id="isCommercialAccount"
                name="commercialAccount"
                class="form-check-input"
                th:checked="*{commercialAccount}"
                th:field="*{commercialAccount}"
            />
            <label class="form-check-label" for="isCommercialAccount">
                Коммерческий профиль
            </label>
        </div>

        <div class="mt-2 d-flex gap-2 justify-content-end">
            <button
                type="submit"
                class="btn btn-primary"
                th:text="${primaryActionName}"
            >
                Сохранить
            </button>
            <a th:href="${cancelPath}" class="btn btn-secondary">Отмена</a>
        </div>
    </form>
</div>
