<div th:fragment="vacancyCard(showActions, vacancy)">
    <div class="card">
        <div class="card-body d-flex justify-content-between">
            <div class="lh-sm">
                <h5 class="card-title">
                    <a
                        th:href="@{/vacancies/{id}(id=${vacancy.id})}"
                        class="text-decoration-none"
                        th:text="${vacancy.title}"
                    >
                        Название вакансии
                    </a>
                </h5>
                <div class="d-flex flex-column gap-1">
                    <div
                        th:replace="~{/components/price-component::price(value = ${vacancy.salary})}"
                    ></div>
                    <div
                        class="text-body-secondary"
                        th:text="${vacancy.company.name}"
                    ></div>
                    <div class="d-flex gap-2 mt-2">
                        <span
                            th:each="skill : ${vacancy.skills}"
                            th:text="${skill}"
                            class="badge rounded-pill bg-light"
                        >
                            Навык
                        </span>
                    </div>
                </div>
            </div>
            <div th:if="${showActions}">
                <th:block
                    th:replace="~{/components/apply-for-vacancy-button::applyButton(vacancyId = ${vacancy.id})}"
                >
                </th:block>
            </div>
        </div>
    </div>
</div>
